@media screen and (max-width: $screen-md-max) {
  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}
