.l-product__product {
  margin-bottom: 58px;
}

.l-product__products-similar {
  margin-bottom: 47px;
}

.l-product__product-accompanying {
  margin-bottom: 55px;
}

.l-product__product-purchased {
  margin-bottom: 45px;
}

.l-product__product-viewed {
  margin-bottom: 80px;
}
