.breadcrumbs__list {
  margin-bottom: 0;
  padding: 18px 0 0;
}

.breadcrumbs__item {
  display: inline-block;
  color: $gray-lighter;
}

.breadcrumbs__link {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs__icon {
  margin: 0 9px;
  font-size: 11px;
}

@media screen and (max-width: $screen-sm-max) {
  .breadcrumbs__item {
    padding-bottom: 5px;
  }
}
