.btn {
  display: inline-block;
  border: 0;
  text-align: center;
  transition: background-color .3s, color .3s;
  &:focus {
    outline: 0;
  }
}

.btn_warning {
  background-color: $brand-warning;
  &:focus,
  &:hover {
    background-color: darken($brand-warning, 15%);
  }
  &.btn_bordered {
    border-color: $brand-warning;
    &:focus,
    &:hover {
      background-color: $brand-warning;
    }
  }
}

.btn_danger {
  background-color: $brand-danger;
  color: #fff;
  &:focus,
  &:hover {
    background-color: darken($brand-danger, 15%);
  }
  &.btn_bordered {
    border-color: $brand-danger;
    color: $brand-danger;
    &:focus,
    &:hover {
      background-color: $brand-danger;
      color: #fff;
    }
  }
}

.btn_bordered {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
}

.btn_sm {
  padding: 7px 21px;
  font-size: 13px;
}

.btn_md {
  padding: 10px 17px 11px;
  font-size: 15px;
}

.btn_lg {
  padding: 13px 32px 14px;
  font-size: 18px;
}

.btn_block {
  display: block;
  width: 100%;
}

.btn_bold {
  font-weight: 700;
}

@media screen and (max-width: $screen-xs-max) {
  .btn_lg {
    padding: 10px 15px;
    font-size: 16px;
  }
}
