.footer {
  position: relative;
  background-color: #474a4e;
  overflow: hidden;
  color: #fff;
}

.footer__wrap-left {
  padding-right: 60px;
}

.footer__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 40px 0 27px 0;
  border-bottom: 1px solid #595c5f;
}

.footer__nav-col {
  &:nth-child(-1n+2) {
    width: 189px;
  }
  &:nth-child(1n+3) {
    width: 204px;
  }
}

.footer__nav-col_without-title {
  margin-top: 39px;
}

.footer__nav-title {
  margin-bottom: 15px;
}

.footer__nav-item {
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer__nav-link,
.footer__nav-title-link {
  color: inherit;
  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.footer__nav-title-link {
  font-size: .942em;
  opacity: .7;
  &:hover {
    opacity: .9;
  }
}

.footer__nav-link {
  font-size: 14px;
  opacity: .4;
  &:hover {
    opacity: .6;
  }
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  font-size: 14px;
}

.footer__info-copyright {
  opacity: .3;
}

.footer__info-dev-caption {
  color: $gray-lighter;
}

.footer__info-dev-logo {
  opacity: .8;
}

.footer__wrap-right {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -45px;
    width: 9999px;
    height: 9999px;
    background-color: #3c3f43;
  }
}

.footer__contacts {
  position: relative;
  padding: 45px 0 31px 26px;
}

.footer__contacts-tel {
  margin-bottom: 13px;
}

.footer__contacts-tel-link {
  font-weight: 700;
  font-size: 23px;
  color: inherit;
  opacity: .77;
  &:hover {
    color: currentColor;
    opacity: .9;
  }
}

.footer__contacts-tel-tooltip {
  margin-bottom: 54px;
  font-size: 12px;
  opacity: .3;
}

.footer__contacts-sm-title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  opacity: .5;
}

@media screen and (max-width: $screen-md-max) {
  .footer__nav {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .footer__wrap-left {
    padding-right: 40px;
  }

  .footer__wrap-right {
    &:before {
      margin-left: -35px;
    }
  }

  .footer__nav-col {
    margin-bottom: 20px;
  }

  .footer__contacts-tel {
    margin-bottom: 35px;
  }

  .footer__contacts {
    padding: 45px 0 30px 0;
  }

  .footer__contacts-sm-title {
    margin: 80px 0 30px;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .footer__wrap-left {
    padding-right: 0;
  }

  .footer__wrap-right {
    &:before {
      content: none;
    }
  }

  .footer__contacts {
    padding: 30px 0 0;
  }

  .footer__contacts-tel {
    margin-bottom: 10px;
  }

  .footer__contacts-tel-tooltip {
    margin-bottom: 40px;
  }

  .footer__contacts-sm-title {
    margin: 30px 0 15px;
  }

  .footer__nav {
    padding-top: 15px;
  }
}
