.header-touch__trigger {
  display: inline-block;
  padding: 10px;
}

.header-touch__icon {
  font-size: 36px;
}

.header-touch__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #474a4e;
  z-index: 1090;
  transition: transform .3s;
  &.active {
    transform: translateX(100%);
  }
}

.header-touch__nav-list {
  margin: auto;
  width: 85%;
  max-height: 100%;
  overflow-y: auto;
}

.header-touch__menu-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: #fff;
}

.header-touch__nav-item {
  padding-bottom: 10px;
}

.header-touch__nav-link {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  &:focus,
  &:hover {
    color: #fff;
  }
}

.header-touch__nav-label {
  font-size: 16px;
  color: #fff;
}

.header-touch__nav-select {
  min-width: 220px;
}

.header-touch__nav-icon {
  display: inline-block;
  width: 30px;
}

.header-touch__nav-select {
  padding-top: 7px;
  padding-bottom: 7px;
  border-width: 0;
}

.header-touch__lang {
  .header__lang-trigger {
    padding: 0 0 5px;
    height: auto;
    font-size: 18px;
    color: #fff;
  }
}
