.header__top {
  min-height: 44px;
  background-color: #eff0f3;
}

.header__top-right {
  display: flex;
  justify-content: space-between;
}

.header__nav-list {
  margin-bottom: 0;
}

.header__nav-item {
  display: inline-block;
  &:first-child {
    .header__nav-link {
      padding-left: 0;
    }
  }
}

.header__nav-link {
  display: inherit;
  padding: 13px 15px;
  color: #777;
  &:hover {
    text-decoration: underline;
  }
}

.header__lang {
  flex-basis: 20%;
  margin-left: -8px;
}

.header__lang-trigger {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 14px 1px;
  height: 44px;
  color: #777;
}

.header__lang-trigger_active {
  color: currentColor;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $brand-danger;
  }
}

.header__city-label {
  margin-right: 15px;
  color: $gray;
}

.header__city-select {
  width: 79px;
  height: 100%;
  .chosen-single {
    padding-top: 10px;
    height: inherit;
    border-color: #d8d9dc;
    border-width: 0 1px 0;
    div {
      b {
        font-size: 8px;
      }
    }
  }
  &.chosen-container-active {
    .chosen-single {
      border-color: #d8d9dc;
      border-width: 0 1px 0;
    }
  }
  .chosen-drop {
    border-width: 0 1px 1px;
    border-color: #d8d9dc;
  }
  .chosen-results {
    background-color: #eff0f3;
  }
}

.header__city-select-arrow {
  position: relative;
  left: -20px;
  font-size: 8px;
}

.header__auth {
  flex-basis: 43%;
}

.header__auth-link {
  display: inline-block;
  margin-left: 32px;
  padding: 12px 0;
  color: $gray-light;
  &:hover {
    color: $brand-danger;
  }
}

.header__auth-link-icon {
  margin-right: 5px;
  vertical-align: -1px;
  font-size: 15px;
}

.header__middle-both {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  position: relative;
}

.header__search-field {
  padding: 0 25px;
  width: 348px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid #c2c2c2;
  background-color: transparent;
}

.header__search-btn {
  position: absolute;
  top: 13px;
  right: 13px;
  border: 0;
  background-color: transparent;
  font-size: 17px;
}

.header__phone-link {
  font-size: 18px;
}

.header__phone-dd-arrow {
  margin: 0 10px 0 1px;
  vertical-align: 2px;
  font-size: 8px;
}

.header__actions {
  margin-right: -5px;
}
