.logo {
  background-color: $brand-warning;
}

.logo__link {
  display: inline-block;
  padding: 35px 39px 20px 34px;
}

@media screen and (max-width: $screen-md-max) {
  .logo__link {
    padding: 30px 35px 20px 30px;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .logo__link {
    display: block;
    text-align: center;
  }
}
