.product-extra__nav-wrap {
  height: 54px;
}

.product-extra__nav {
  position: relative;
  z-index: 2;
  &.fixed {
    position: fixed;
    top: 0;
    width: 1290px;
    background-color: #fff;
  }
}

.product-extra__nav-list {
  margin-bottom: 0;
  border-bottom: 2px solid #e9eaeb;
}

.product-extra__nav-item {
  display: inline-block;
  &:first-child {
    .product-extra__nav-link {
      padding-left: 0;
    }
  }
}

.product-extra__nav-link {
  display: inline-block;
  padding: 15px 34px 18px;
  font-weight: 700;
  font-size: 16px;
  color: $gray-light;
  &:hover,
  &.active {
    color: $brand-danger;
  }
}

.product-extra__magic-line {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: $brand-danger;
  transition: left .3s, width .3s;
}

.product-extra__sections {
  float: left;
  width: 924px;
  padding-top: 31px;
}

.product-extra__section {
  margin-bottom: 60px;
}

.product-extra__section-title {
  margin-bottom: 10px;
  font-size: 19px;
}

.product-extra__section-text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.575;
}

.product-extra__characteristics-table {
  margin: 16px 0 22px;
  .table__data {
    &:first-child {
      width: 54%;
    }
  }
}

.product-extra__expand-trigger {
  &.active {
    .product-extra__expand-icon {
      transform: scale(1, -1);
    }
  }
}

.product-extra__expand-icon {
  float: left;
  margin: 5px 7px 0 0;
  font-size: 7px;
  color: $brand-danger;
}

.product-extra__expand-caption {
  border-bottom: 1px solid rgba($gray-dark, .3);
}

.product-extra__feedback-actions {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 30px 1px;
}

.product-extra__feedback-actions-left {
  padding-left: 1px;
}

.product-extra__video-gallery {
  padding-top: 6px;
}

.product-extra__articles-slider {
  margin-top: 14px;
}

.product-extra__certs-container {
  padding-top: 4px;
}

.product-extra__certs-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-extra__cert-link {
  &:hover {
    .product-extra__cert-img {
      transform: scale(1.03, 1.03);
    }
  }
}

.product-extra__cert-img {
  transition: transform .3s;
}

.product-extra__sidebar {
  float: right;
  width: 322px;
}

.product-extra__sidebar-sticky-companion {
  padding-top: 74px;
  width: inherit;
  &.fixed {
    position: fixed;
    top: 50px;
  }
}

.product-extra__suitable {
  margin-bottom: 30px;
}

.product-extra__suitable-for {
  padding: 27px 30px;
  background-color: rgba($brand-success, .2);
}

.product-extra__suitable-for-label {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.product-extra__suitable-for-icon {
  margin: 0 2px 0 -1px;
  font-size: 11px;
  color: $brand-success;
}

@media screen and (max-width: $screen-md-max) {
  .product-extra__nav-link {
    padding: 15px 25px 18px;
  }

  .product-extra__nav {
    &.fixed {
      width: 940px;
    }
  }

  .product-extra__sections {
    float: none;
    width: auto;
  }
}
