.product-similar {
  padding: 0 58px 0 52px;
  width: 302px;
  height: 352px;
  border: 1px solid #e9eaeb;
  text-align: center;
}

.product-similar__title {
  margin-top: -15px;
  background-color: #fff;
}

.product-similar__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 198px;
}

.product-similar__description {
  text-align: left;
}

.product-similar__img {
  max-width: 100%;
  max-height: 100%;
}

.product-similar__name {
  height: 44px;
  overflow: hidden;
}

.product-similar__more {
  display: block;
  margin: 0 -8px;
  background-color: #fff;
  line-height: 2;
  color: $brand-danger;
}

.product-similar__more-text {
  border-bottom: 1px dotted currentColor;
}

@media screen and (max-width: $screen-md-max) {
  .product-similar {
    padding: 0 38px;
    width: 260px;
  }
}
