.product-suitable {
  padding: 14px 46px 30px;
  border: 1px solid #e9eaeb;
  background-color: #fff;
}

.product-suitable__img-wrap {
  display: block;
  margin-bottom: 13px;
  padding: 5px 0;
  width: 192px;
  height: 192px;
  text-align: center;
}

.product-suitable__img {
  max-width: 100%;
  max-height: 100%;
}

.product-suitable__available {
  margin-bottom: 15px;
}

.product-suitable__name {
  font-size: 15px;
}

.product-suitable__price {
  margin-bottom: 10px;
}

.product-suitable__actions {
  margin-bottom: 18px;
}

.product-suitable__action-inform {
  padding: 4px 26px 3px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
}

.product-suitable__action-compare {
  margin-left: 20px;
  vertical-align: -4px;
  font-size: 18px;
}

.product-suitable__more {
  border-bottom: 1px dotted currentColor;
}
