.rating__icon {
  margin: 0 2px;
  color: $brand-warning;
}

.rating__score {
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
}

.rating__icon_mark ~ .rating__icon {
  color: currentColor;
}
