.tab-trigger {
  float: left;
  margin: -1px 0 0 -1px;
  padding: 0 19px;
  height: 39px;
  border: 1px solid #e1e1e1;
  background-color: transparent;
  color: $gray-light;
  &.active {
    position: relative;
    border-color: #fb2539;
    color: $gray;
  }
}

.tab-trigger_md {
  padding: 0 36px 0 37px;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: $screen-md-max) {
  .tab-trigger {
    padding: 0 10px;
  }
}
