.expand-data {
  display: none;
}

div.expand-data {
  &.active {
    display: block;
  }
}

tfoot.expand-data {
  &.active {
    display: table-footer-group;
  }
}

.tabs-data > * {
  display: none;
  &.active {
    display: block;
  }
}

.tabs-data_overflow > * {
  max-height: 0;
  overflow: hidden;
  &.active {
    max-height: none;
    overflow: visible;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .expand-data-sm {
    display: none;
  }

  div.expand-data-sm {
    &.active {
      display: block;
    }
  }

  a.expand-data-sm {
    &.active {
      display: inline;
    }
  }
}
