.expand-data {
  display: none;
}

div.expand-data {
  &.active {
    display: block;
  }
}

tfoot.expand-data {
  &.active {
    display: table-footer-group;
  }
}

.tabs-data > * {
  display: none;
  &.active {
    display: block;
  }
}

.tabs-data_overflow > * {
  max-height: 0;
  overflow: hidden;
  &.active {
    max-height: none;
    overflow: visible;
  }
}
